


/*CONTENT*/

.slick-slider-navigation-arrows{
    float:right;
}

.slick-slider-navigation-arrows p{
    height: 15px;
    cursor:pointer;
}

#tiles-grid .dev-tile-size{
    font-size: 15px;
    color: #FFF;
    background-color: #003d69;
    height: 25px;
    padding: 0px 5px;
    bottom: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.aktualnosci{
    margin-bottom:20px;
}

.aktualnosci .el{
    height:200px;
    background-size:cover;
    position:relative;
}

.aktualnosci .news-title-apply{
        position: absolute;
        color: #000;
        background-color: #FFF;
        top: 140px;
        right: 0px;
        padding: 4px;
        height: 35px;
    }

.content-h2 {
    font-size: 40px;
}


.news-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.news-lead {
    font-weight: 600;
    font-size: 14px;
}

.news-date {
    font-size: 12px;
}

.search-form input{
    padding: 16px 20px;
    color: #fff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b00715+0,008496+51,002f53+100 */
    background: #b00715; /* Old browsers */
    background: -moz-linear-gradient(left, #b00715 0%, #e47a85 51%, #b00715 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b00715 0%,#e47a85 51%,#b00715 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b00715 0%,#e47a85 51%,#b00715 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b00715', endColorstr='#b00715',GradientType=1 ); /* IE6-9 */
    border: 0;
}

.search-form {
    position: relative;
}
.search-form-icon {
    position: absolute;
    right: 25px;
    top: 14px;

}

.content-p {
    font-size: 20px;
    font-weight: 500;
}

.breadcrumbs {
    padding: 0;
}

.breadcrumbs li {
    list-style: none;
    font-size: 14px;
    margin: 20px 10px 20px 0;
}

.breadcrumbs li a {
    color: #000;
}


.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    z-index: 10;
}

.banner-title{
    width:90%;
}

.banner-title span{
    display:inline-block;
}

.banner-title span>hr{
    height: 1px;
    width: 100%;
    background: #fff;
}

.banner-title-shopsdetal span:nth-child(1), .banner-title-shopsdetal span:nth-child(3){
    width:40%;
}

.banner-title-horeca span:nth-child(1), .banner-title-horeca span:nth-child(3){
    width:35%;
}

.banner-title span:nth-child(2){
    width:20%;
    position: relative;
    bottom: 6px;
    width: 20%;
}

.banner-title-horeca span:nth-child(2){
    width: 30%;
}

.img-adjust {
    padding: 1px;
}

.content-bg {

}

/** PROMOCJE / OFERTA : HORECA, HURT **/
.options-area-description {
position: absolute;
left: 0;
right: 0;
top: 25%;
margin-left: auto;
margin-right: auto;
width: 240px;
text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}

.options-area-description .btn.btn-outline-light{
    background-color:#FFF;
    color:#000 !important;
}

.options-area-description .btn.btn-outline-light:hover{
    color:#b00715 !important;
}

/** TILES SECTION **/

#tiles-section .full {
      height: 100%;
    }

#tiles-section .img-big {
  background-repeat: no-repeat;
  background-size: cover !important;
  width: 100%;
  max-height: 100vw;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index:1;
}

#tiles-section .img-big.blue:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(176, 7, 21, 0.8);
}

#tiles-section .img-long {
  background-repeat: no-repeat;
  background-size: cover;
}

#tiles-section .img-mid {
  background-repeat: no-repeat;
  background-size: cover;
}

#tiles-section .tile-strip { 
    background: rgba(176, 7, 21, 0.9); 
    width: 100%;
    color: #fff;
    text-align:center;  
    text-transform: uppercase;
    font-weight: 650;
    font-size: 14px;
    height: 35px;
    bottom: 20px;
    margin-bottom: 10px;
    margin-top: auto;
    position: absolute;
    padding: 5px;
    z-index: 11;
} 


#tiles-section .nopadding {
  padding: 0;
}
#tiles-section .nomargin {
  margin: 0px;
}

@media(max-width:767px){
   #tiles-section .half {
    height: auto;
   }
   #tiles-section .img-big {
     min-height: 100vw;
   }
   #tiles-section .paddingl {
     padding: 0 0 5px 0;
   }
   #tiles-section .paddingr {
     padding: 0 0 5px 0;
   }
}

@media(min-width:768px){
    #tiles-section .half {
        height: 50%;
    }
    #tiles-section .all {
        height: 600px;
    }
    #tiles-section .paddingl {
      padding: 0 5px 5px 0;
    }
    #tiles-section .paddingr {
      padding: 0 0 5px 0px;
    }
}

/*CONTENT - oferta weselna*/
.content-guarantee {
    background: #b00715; /* Old browsers */
    background: -moz-linear-gradient(left, #00335a 2%,#00558c 25%, #0165a1 50%, #005083 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00335a 2%,#00558c 25%, #0165a1 50%, #005083 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00335a 2%,#00558c 25%, #0165a1 50%, #005083 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00335a', endColorstr='#005083',GradientType=1 ); /* IE6-9 */
    color: #fff;
}

/*Dodatkowe uslugi*/
.options-area {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+49,f6f6f6+49,ededed+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 49%, #f6f6f6 49%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#f6f6f6 49%,#f6f6f6 49%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#f6f6f6 49%,#f6f6f6 49%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
}
/*

.options-area-title {
    font-size: 28px;
    text-align: center;
}
.options-area-bg-first {
    background-image: url("/gfx/offer/eventy.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
}
.options-area-bg-first:before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-image: linear-gradient(to bottom right,#000,#000);
    opacity: .4;
}
.options-area-bg-second {
    background-image: url("/gfx/offer/kontakt.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
}
.options-area-bg-second:before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-image: linear-gradient(to bottom right,#000,#000);
    opacity: .4;
}
.options-area-bg-third {
    background-image: url("/gfx/offer/oddzialy.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
}
.options-area-bg-third:before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-image: linear-gradient(to bottom right,#000,#000);
    opacity: .4;
}

.options-area-description {
    position: absolute;
top: 25%;
    left: 0;
    padding-left: 70px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}
*/


/** OUR BRANDS **/

.our-brands {

}
.our-brands-img-container {
    position: relative;
    text-align: center;
}

.our-brands-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    z-index: 10;
}


.search-form input::placeholder { /* Firefox, Chrome, Opera */ 
    color: #FFF; 
} 
  
.search-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #FFF; 
} 
  
.search-form input::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #FFF; 
} 

/** ABOUT US **/


.about-us-image{
    border-radius: 0px 15px;
    height:529px;
}


.about-us-main-description {
    font-size: 22px;
}

.about-us-custom-description {
    font-size: 18px;
    line-height: 1.8;
}

.about-us-blue-section {
    margin-top: -150px;
    padding-top: 50px;
    padding-bottom: 100px;
    color: #fff;
}

.about-us-blue-section-title {
    color: #fff;
    font-weight: 600;
    font-size: 36px;
}

.about-us-blue-section-custom-description {
    font-size: 20px;
}

.about-us-crew-section {
    padding-bottom: 200px;
}

.about-us-crew-section-title {
    font-size: 42px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    color: #5D5D5D;
}

.about-us-crew-section-description {
    color: #5D5D5D;
}

.about-us-crew-section-image {
    border-radius: 50%;
}

.about-us-crew-section-image-title {
    padding-top: 20px;
    margin-bottom: 0;
    color: #797979;
    font-size: 20px;
}

.about-us-crew-section-image-description {
    color: #B5B5B5;
    font-size: 16px;
}

.about-us-bottom-section {
    padding-top: 100px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c8c8c8+0,f9fdff+33,f9fdff+67,c8c8c8+100 */
    background: #c8c8c8; /* Old browsers */
    background: -moz-linear-gradient(left, #c8c8c8 0%, #f9fdff 33%, #f9fdff 67%, #c8c8c8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c8c8c8 0%,#f9fdff 33%,#f9fdff 67%,#c8c8c8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c8c8c8 0%,#f9fdff 33%,#f9fdff 67%,#c8c8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#c8c8c8',GradientType=1 ); /* IE6-9 */
}

.about-us-bottom-section-company {
    padding: 60px 0;
    font-size: 12px;
}

.about-us-bottom-section-rodo {
    font-size: 12px;
    padding: 60px 0;
    color: #4e555b;
}



.hidden{
    display:none;
}



